{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% if app.user %}
    <h1>Bonjour {{ app.user.username }}!</h1><br>
        <a href="{{ path('ticket') }}"><button type="button" class="btn btn-outline-primary">Démarrer <i class="fas fa-rocket"></i></button></a>

        <a href="{{ path('app_logout') }}"><button type="button" class="btn btn-outline-primary">Logout <i class="fas fa-sign-out-alt"></i></button></a>
    {% else %}
        <h1>Hi anonymous!</h1><br>
        <a href="{{ path('app_login') }}"><button type="button" class="btn btn-outline-primary">Login <i class="fas fa-sign-in-alt"></i></button></a>
    {% endif %}
</div>
{% endblock %}
